body {
    font-family: 'Neue Machina', sans-serif;
    background-color: #17161E;
    margin: 0 100px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: 'Poppins';
}

.nav-item a {
    text-decoration: none;
    color: #ffffffbb;
    font-weight: 400;
    font-family: 'Lato';
}

header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3vw;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 1.5vw;
    font-size: 16px;
}

.left-header-cont {
    width: 620px;
    height: 55px;
    background-color: #00000000;
    border: 0.2px solid #e2fe0f6b;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.left-header-cont img {
    width: 180px;
}

.left-header-cont select {
    width: 59px;
    background-color: #00000000;
    border: none;
    font-family: 'Neue Machina', sans-serif;
    color: #ffffffbb;
}

.left-header-cont a {
    width: 59px;
    background-color: #00000000;
    font-family: 'Neue Machina', sans-serif;
    color: #ffffffbb;
}

.button-container {
    display: flex;
    align-items: center;
}

.button {
    height: 55px;
    border: 0.2px solid #e2fe0f96;
    background-color: #17161E;
    color: #E3FE0F;
    width: 200px;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin: 0;
}

.button {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-color: #d9ff00;
    background-color: #17161E; 
    color: #E3FE0F; 
    width: 200px;
    padding: 10px 20px; 
    border-radius: 15px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s ease; 
  }

p { 
    color: white;
}

.kruglash img {
    width: 100px; 
    height: auto; 
    animation: spin 5s linear infinite; 
    float: right;
    position: absolute;
    right: 100;
    margin-left: 30px;
    margin-top: -10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}

.ai-ml{
    color: #E3FE0F;
    margin-top: -100px;
}

.cmpt{
    color: white;
    margin-left: 280px;
    margin-top: -200px;
}

.button-con {
    display: flex; 
    max-width: 1000px; 
    margin-bottom: 150px;
}

.but-node{
    background-color: #E3FE0F;
    padding: 15px 30px;
    padding-right: 60px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 5px;
}

.but-gpu {
    background-color: #17161E;
    color: #ffffff; 
    border: 1px #ffffffa9 solid;
    padding: 15px 30px;
    padding-right: 60px;
    border-radius: 10px;
}

.but-node:hover {
    background-color: #8f8f8f;
}

.but-gpu:hover {
    background-color: #8f8f8f;
}

.but-con {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: -20px;
    margin-top: 50px;
    font-size: 20px;
}

.but-yel,.but-bla {
    border-width: 1px;
    box-sizing: border-box;
}

.but-bla {
    background-color: #17161E;
    color: white;
    text-align: left;
}

.but-yel {
    background-color: #E3FE0F;
    text-align: left;
}

.but-yel p {
    color: black !important;
}

.but-con button p {
    margin: 0;
    padding: 0;
}





